<div>
  <div class="m-10">
    <div class="m-2">
      <app-user-story-controller></app-user-story-controller>
    </div>
    <div class="flex">
      <div class="flex-1/4 m-2 mr-0">
        <app-issue-list class="h-full"></app-issue-list>
      </div>
      <div class="flex-3/4 shadow-inner rounded dark:shadow-inner bg-gray-300 dark:bg-gray-700 m-2">
        <div class="flex">
          @for(userJourney of userJourneys(); track userJourney.id) {
            <app-user-journey-element [userJourney]="userJourney" class="m-2 mr-0" ></app-user-journey-element>
          }
          @if(userJourneyService.isCreatingNewUserJourney()) {
            <app-user-journey-element class="m-2"></app-user-journey-element>
          }
        </div>
      </div>
    </div>
  </div>
  <div>
    x
  </div>
</div>
