<div
  class="flex justify-between shadow bg-gray-200 dark:bg-gray-800 border-b-1 border-gray-500"
>
  <div class="p-3 pl-10">
    <div class="text-4xl">Storytime 📜✨</div>
  </div>
  <div class="p-3">
    <button (click)="toggleDark()" class="standard-button">
      <div class="flex justify-center">
        @if (isDarkMode) {
          <i class="material-icons">light_mode</i>
        } @else {
          <i class="material-icons">dark_mode</i>
        }
      </div>
    </button>
  </div>
</div>
