<div class="flex justify-between app-header">
  <div class="p-3 pl-8">
    <div class="text-4xl">Storytime 📜✨</div>
  </div>
  <div class="flex flex-row p-3 pr-8">
    <div class="mr-6">
      <button (click)="purgeDb()" class="standard-button">
        <div class="flex">
          <i class="material-icons">settings</i>
        </div>
      </button>
    </div>
    <div>
      <button (click)="toggleDark()" class="standard-button">
        <div class="flex justify-center">
          @if (isDarkMode()) {
            <i class="material-icons">light_mode</i>
          } @else {
            <i class="material-icons">dark_mode</i>
          }
        </div>
      </button>
    </div>
  </div>
</div>
