<div class="flex justify-between">
  <div class="flex">
    <button
      (click)="undo()"
      [disabled]="dragDropService.canUndo()"
      class="standard-button mr-2"
    >
      <div class="flex justify-center">
        <i class="material-icons">undo</i>
      </div>
    </button>
    <button
      (click)="redo()"
      [disabled]="dragDropService.canRedo()"
      class="standard-button mr-2"
    >
      <div class="flex justify-center">
        <i class="material-icons">redo</i>
      </div>
    </button>
  </div>
  <div class="flex">
    <button (click)="addUserJourney()" class="standard-button ml-2">
      <div class="flex justify-center">
        <i class="material-icons">add</i>Add Journey 📜
      </div>
    </button>
  </div>
</div>
