<div class="container">
  <div
    class="fruits"
    cdkDropList
    id="fruitsList"
    [cdkDropListData]="fruits()"
    cdkDropListConnectedTo="basketList"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>Früchte</h3>
    @for (fruit of fruits(); track fruit) {
      <div cdkDrag [cdkDragData]="fruit" class="fruit-item">
        {{ fruit }}
      </div>
    }
  </div>

  <div
    class="basket"
    cdkDropList
    id="basketList"
    [cdkDropListData]="basket()"
    cdkDropListConnectedTo="fruitsList"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>Korb</h3>
    @for (fruit of basket(); track fruit) {
      <div cdkDrag [cdkDragData]="fruit" class="fruit-item">
        {{ fruit }}
      </div>
    }
  </div>
</div>
